<!DOCTYPE html>
<html>
	<head>
		<title>bb</title>
	</head>

	<body>
		<table class="table">
			<thead>
				<tr>
					<th>author</th>
					<th>title</th>
					<th>url</th>
					<th>action</th>
				</tr>
		        <tr>
		          <td><input class="author-input"></td>
		          <td><input class="title-input"></td>
		          <td><input class="url-input"></td>
		          <td><button class="author-input add-blog">add</button></td>
		        </tr>
			</thead>
			<tbody class="blogs-list"></tbody>
		</table>

		<script type="text/template" class="blogs-list-template">
			<td><span class="author"><%= author %></span></td>
			<td><span class="title"><%= title %></span></td>
			<td><span class="url"><%= url %></span></td>
			<td>
				<button class="edit-blog">edit</button>
				<button class="delete-blog">delete</button>
				<button class="update-blog" style="display:none">update</button>
				<button class="cancel-blog" style="display:none">cancel</button>
			</td>
		</script>

		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
		<script type="text/javascript" src="index.js"></script>
	</body>
</html>